@use "sass:math";
@import 'normalize.css';


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overscroll-behavior: none !important;
  overflow: hidden;
}


#app {
  width: 100vw;
  height: 200vh;
}

h1,h2,h3,h4,h4,h6 {
  margin: 0;
  padding: 0;
}

@function random1() {
    @return calc(random(1000) / 1000)
}